/* Fonts Used */
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Lora:wght@500;700&family=Poppins:ital,wght@0,200;0,500;1,400&family=Quicksand&display=swap');
/* Belleza -   font-family: 'Belleza', sans-serif;
font-family: 'Lora', serif;
Aeonik
Lora */

/* Default Styles */

/* font-family: 'Belleza', sans-serif;
font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif; */

*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  /* font-size: 62.5px; */
}



body {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;

  /* overflow: hidden; */

}

a{

  text-decoration: none;
  font-weight: 400;
  color: #000000;
}

.light-text{
  font-weight: 250;
}


/* Header Styles */
.header{
background: #ffffff;
  width: 100%;
  height: 93px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
}

.logo{
  /* margin-left: 50px; */
  text-align: left;
  align-items: flex-start;

}
.menu-item{
  display: inline;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  padding: 0 40px;
  align-content: center;
  justify-content: center;
  text-align: center;
  align-items: center;
}



/* Hero Styles */


.hero-tagline {
  font-size: 4.8em;
  font-family: 'Belleza', sans-serif;
}

.hero-img{
  width: 100%;
}


.banner-tagline{
  font-size: 1.8em;
  font-family: 'Lora', serif;
}

.sub-heading-1 {
  font-weight: 500;
  font-size: 1.2em;
}

.sub-heading-2 {
  font-size: 0.8em;
}

.instagram{
  /* background: url('./Images/img-above-footer.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: auto;
  margin: 0 auto;
  width: 1339px;
  max-width: 100%;
  height:746px; */
}

/* Section-2 */
.section-2{

}

/* Section-3 */

.section-3-ltext {
font-size: 1.2em;
}

.section-3-rtext {
  font-family: 'Lora', serif;
  font-size: 1.8em;

}


/* Section-4 */

.banner-img {
  width:100%;
}
.section-3{
  height:436px;
  display: flex;
  background: #EDEDED;
  align-content: flex-end;
  margin-top: -15%;
}

/* Section Shop Styles  */
.shop-tagline {
  font-size:  2.4em;
  font-family: 'Lora', serif;
}

.shop-btn{
  color: #ffffff;
  padding: 10px 30px;
  background-color: #000000;
  border-radius: 40px;
}

/* Section 5 */
.section-5{

/* height:20vh; */
}

.section-5 img {
  /* conten */

}

.contain-image{

  object-fit: cover;
}

.section-5-right img {

}


.news-letter-heading{
  font-family: 'Lora', serif;
  font-size: 2.4em;
  font-weight: 500;
}

.email-inp{
  border: none;
  border-bottom:2px solid #000000;
}

.btn-subscribe{
  color: #ffffff;
  padding: 10px 30px;
  background-color: #000000;
  border-radius: 40px;
  /* position: absolute; */
  /* top:0 */
}


/* Slider */
.card {
  border: 0;
  border-radius: 0;
  }

.card img {

  border-radius: 0;
}



.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;
  display: none;
}

.scrolling-wrapper:-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.footer{
  background: #F3F3F3;
}
@media (max-width: 575.98px) {
  .hero-tagline {
    font-size: 24px;
  }

}
