/* Fonts Used */
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Lora:wght@500;700&family=Poppins:ital,wght@0,200;0,500;1,400&family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}



body {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

a {

  text-decoration: none;
  font-weight: 400;
  color: #000000;
}

.container {
  padding: 1.4rem;
}

.light-text {
  font-weight: 250;
}


/* Header Styles */
.header {
  background: #ffffff;
}

.logo {
  /* margin-left: 50px; */
  text-align: left;
  align-items: flex-start;

}

.navbar-nav {
  flex-direction: row;
}

@media (max-width: 995px) {
  .navbar-toggler {
    order: 2;

  }
}

.fb-img {
  max-width: 400px;
}

.forbes {
  width: 120px;
}

@media (max-width: 800px) {
  .forbes {
    width: 60px;

  }
}





@media (min-width: 800px) {
  .bloomerg {
    width: 65px;

  }
}


.menu-item {
  display: inline;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  padding: 0 40px;
  align-content: center;
  justify-content: center;
  text-align: center;
  align-items: center;
}



/* Hero Styles */

.hero-tagline {
  /* font-size: 4.8em; */
  font-family: 'Belleza', sans-serif;
}

@media (max-width: 575.98px) {
  .hero-tagline {
    font-family: 'Belleza', sans-serif;
    font-size: 35px !important;
    ;
  }
}


.hero-img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}


.banner-tagline {
  font-size: 1.2em;
  font-family: 'Lora', serif;
}

.sub-heading-1 {
  font-weight: 500;
  font-size: 1.2em;
}

.sub-heading-2 {
  font-size: 0.8em;
}


/* Section-2 */
.section-2 {}

.left-section {
  padding-left: 0.2rem;
}

/* Section-3 */

.section-3-ltext {
  font-size: 1.2em;
}

.section-3-rtext {
  font-family: 'Lora', serif;
  font-size: 1.8em;

}


/* Section-4 */

.banner-img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.section-3 {
  height: 40vh;
  display: flex;
  background: #EDEDED;
  align-content: flex-end;
  margin-top: -200px;
}

/* Section Shop Styles  */
.shop-tagline {
  font-size: 2.4em;
  font-family: 'Lora', serif;
}

.shop-btn {
  color: #ffffff;
  padding: 10px 30px;
  background-color: #000000;
  border-radius: 40px;
}


@media (max-width: 995px) {
  .shop {
    order: 2;

  }
}

.contain-image {

  object-fit: cover;
}



.news-letter-heading {
  font-family: 'Lora', serif;
  font-size: 2.4em;
  font-weight: 500;
}

.email-inp {
  border: none;
  border-bottom: 2px solid #000000;
}

.btn-subscribe {
  color: #ffffff;
  padding: 10px 30px;
  background-color: #000000;
  border-radius: 40px;
  /* position: absolute; */
  /* top:0 */
}


/* Slider */
.card {
  border: 0;
  border-radius: 0;
}

.card img {

  border-radius: 0;
}



.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  display: none;
}

.scrolling-wrapper:-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.footer {
  background: #F3F3F3;
}

@media (max-width: 575.98px) {
  .hero-tagline {
    font-size: 24px;
  }

  body {
    font-size: 10px;
  }

  .section-3 {
    height: 25vh;
  }


  .section-3 {

    margin-top: -100px;
  }

}


/* ----------- OnePlus 6 ----------- */
@media only screen
and (min-width: 575px)
and (max-width: 765px) {
  .section-3 {

    margin-top: -130px;
  }
}


.review-heading {
  width: 97px;
  height: 24px;
  left: 51px;
  top: 3292px;

  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  letter-spacing: 0.1em;

  color: #000000;

}

.review-paragrapgh {

  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 250;
  font-size: 16px;
  line-height: 19px;
  margin-top: 2rem;

  color: #000000;

}

.fa-star {
  color: #DEEC3C;

}

.rating {
  font-weight: 700;
}

.reviews {
  font-weight: 700;
}

.review-paragraph-2 {


  font-family: 'Lora';
  font-style: normal;
  font-size: 25px;
  line-height: 35px;
  margin-top: 2rem;
}

.pamela-S {
  font-family: 'Lora';
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  margin-top: 0.2rem;
}

.review-location {
  font-family: 'Aeonik';
  font-style: normal;
  font-size: 9px;
  line-height: 12px;
  margin-bottom: 0.2rem;
}


@media (min-width: 576px) {
  .icon {

    margin-bottom: 2rem !important;
  }

}


.learn-more {
  font-family: 'Aeonik';
  font-style: normal;
  font-size: 10px;
  line-height: 20px;
  /* identical to box height */

  text-transform: uppercase;

}
